<section class="content">
  <div class="content-block">
    <div class="block-header" *ngFor="let breadscrum of breadscrums">
      <!-- breadcrumb -->
      <app-breadcrumb [title]="breadscrum.title" [items]="breadscrum.items" [active_item]="breadscrum.active">
      </app-breadcrumb>
    </div>



      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
          <div class="card">
            <div class="header">
              <h2>Instructions</h2>
            </div>
            <div class="body">
              <div class="example-container">
                <p><strong>Player Registration Fee: ₹500 INR</strong></p>
                <p>Follow these steps to complete your registration:</p>

                <ol>
                  <li><strong>Step 1:</strong> Make a payment of ₹500 INR by scanning the below QR code or using the UPI ID:</li>
<!--                  <img mat-card-image src="assets/images/qr-code.jpeg" alt="QR Code">-->

                  <br>
                  <li><strong>Step 2:</strong> Take a screenshot of the payment confirmation and save it.</li>
                  <br>
                  <li><strong>Step 3:</strong> Copy the transaction ID to fill in later.</li>
                  <br>
                  <li><strong>Step 4:</strong> Upload the screenshot of your payment confirmation along with other details in th ebext page:</li>
                </ol>

              </div>
            </div>
          </div>
        </div>
      </div>
    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
      <mat-card>
        <img mat-card-image src="assets/images/qr-code.jpeg">
        <mat-card-content>
          <br>
          <p><strong>UPI ID: </strong> 919272642@paytm</p>
        </mat-card-content>
        <mat-divider></mat-divider>
      </mat-card>
    </div>
    <br><br>
    <p><strong>Terms and Conditions:</strong></p>
    Registration for the tournament will be officially confirmed once a valid transaction has been successfully processed.
    <br><br>
    <form [formGroup]="basicDetailsGroup!">
      <section class="example-section">
        <mat-checkbox formControlName="isAgreed" class="example-margin" [(ngModel)]="isAgreed">I agree to the terms and conditions.</mat-checkbox>
      </section>
    </form>
    <div *ngIf="isAgreed">

  <form [formGroup]="basicDetailsGroup!">
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
          <div class="card">
            <div class="header">
              <h2>Player Info</h2>
            </div>
            <div class="body">
              <div class="example-container">
                <mat-form-field class="example-full-width">
                  <mat-label>Name</mat-label>
                  <input matInput formControlName="name" required>
                  <mat-icon matSuffix>face</mat-icon>
                  <mat-error *ngIf="basicDetailsGroup?.get('name')?.hasError('required')">
                    Name is required
                  </mat-error>
                </mat-form-field>
                <br>
                <mat-form-field class="example-full-width">
                  <mat-label>Phone</mat-label>
                  <input matInput formControlName="phone" type="number" required>
                  <mat-icon matSuffix>phone</mat-icon>
                  <mat-error *ngIf="basicDetailsGroup?.get('phone')?.hasError('required')">
                    Phone is required
                  </mat-error>
                </mat-form-field>
                <br>
                <mat-form-field class="example-full-width">
                  <mat-label>Current Address</mat-label>
                  <input matInput formControlName="place" required>
                  <mat-icon matSuffix>my_location</mat-icon>
                  <mat-error *ngIf="basicDetailsGroup?.get('place')?.hasError('required')">
                    Place is required
                  </mat-error>
                </mat-form-field>
                <br>
                <mat-form-field class="example-full-width">
                  <mat-label>Role</mat-label>
                  <mat-select formControlName="role" required>
                    <mat-option value="batsman">Batsman</mat-option>
                    <mat-option value="bowler">Bowler</mat-option>
                    <mat-option value="batting all rounder">Batting All rounder</mat-option>
                    <mat-option value="bowling all rounder">Bowling All rounder</mat-option>
                  </mat-select>
                  <mat-error *ngIf="basicDetailsGroup.get('role')?.hasError('required')">
                    Select role
                  </mat-error>
                </mat-form-field>
                <br>
                <section class="example-section">
                  <label class="example-margin">Batting style</label>
                  <mat-radio-group [(ngModel)]="battingStyleLabel" formControlName="battingStyle" required>
                    <mat-radio-button class="example-margin" value="right">Right</mat-radio-button>
                    <mat-radio-button class="example-margin" value="left">Left</mat-radio-button>
                    <mat-error *ngIf="basicDetailsGroup.get('battingStyle')?.hasError('required')">
                      Select batting style
                    </mat-error>
                  </mat-radio-group>
                </section>
                <br>
                <section class="example-section">
                  <label class="example-margin">Bowling style</label>
                  <mat-radio-group [(ngModel)]="bowlingStyleLabel" formControlName="bowlingStyle" required>
                    <mat-radio-button class="example-margin" value="right">Right</mat-radio-button>
                    <mat-radio-button class="example-margin" value="left">Left</mat-radio-button>
                    <mat-error *ngIf="basicDetailsGroup.get('bowlingStyle')?.hasError('required')">
                      Select bowling style
                    </mat-error>
                  </mat-radio-group>
                </section>
                <br>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
          <div class="card">
            <div class="body">
              <div class="example-container">
                <div class="row">
                  <mat-form-field class="example-full-width">
                    <mat-label>T-Shirt size</mat-label>
                    <mat-select formControlName="tshirt" required>
                      <mat-option value="xs">XS</mat-option>
                      <mat-option value="s">S</mat-option>
                      <mat-option value="m">M</mat-option>
                      <mat-option value="l">L</mat-option>
                      <mat-option value="xl">XL</mat-option>
                      <mat-option value="xl">XXL</mat-option>
                    </mat-select>
                  </mat-form-field>

                  <br>

                  <mat-form-field class="example-full-width">
                    <mat-label>Jersey Name</mat-label>
                    <input matInput formControlName="jersy" required>
                    <mat-icon matSuffix>laundry</mat-icon>
                    <mat-error *ngIf="basicDetailsGroup?.get('jersy')?.hasError('required')">
                      Jersey Name is required
                    </mat-error>
                  </mat-form-field>

                  <br>
                  <mat-form-field class="example-full-width">
                    <mat-label>Jersey Number</mat-label>
                    <input matInput formControlName="jersyNumber" type="number" required>
                    <mat-error *ngIf="basicDetailsGroup?.get('jersyNumber')?.hasError('required')">
                      Jersey number is required
                    </mat-error>
                  </mat-form-field>

                  <br>

                </div>

              </div>
            </div>
          </div>
        </div>
      </div>

    </form>
    <br>
    <form [formGroup]="basicDetailsGroup!">
    <section class="example-section">
      <mat-checkbox formControlName="isKarnataka" class="example-margin" [(ngModel)]="iskarnataka">Not from Karnataka?</mat-checkbox>
    </section>
    </form>
    <br>
    <div *ngIf="iskarnataka">
    <form [formGroup]="basicDetailsGroup!">
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
          <div class="card">
            <div class="body">
              <div class="example-container">
                <div class="row">
                    <mat-form-field class="example-full-width">
                      <mat-label>Current place</mat-label>
                      <input matInput formControlName="currentPlace">
                      <mat-error *ngIf="basicDetailsGroup?.get('currentPlace')?.hasError('required')">
                        Current place is required
                      </mat-error>
                    </mat-form-field>

                    <mat-form-field class="example-full-width">
                      <mat-label>Contact Person Name</mat-label>
                      <input matInput formControlName="contactName">
                      <mat-error *ngIf="basicDetailsGroup?.get('contactName')?.hasError('required')">
                        Contact person Name is required
                      </mat-error>
                    </mat-form-field>

                    <br>
                    <mat-form-field class="example-full-width">
                      <mat-label>Contact Person Phone</mat-label>
                      <input matInput formControlName="contactPhone" type="number">
                      <mat-icon matSuffix>phone</mat-icon>
                      <mat-error *ngIf="basicDetailsGroup?.get('contactPhone')?.hasError('required')">
                        Contact person phone is required
                      </mat-error>
                    </mat-form-field>
                  </div>




              </div>
            </div>
          </div>
        </div>

    </div>
    </form>
    </div>
    <form [formGroup]="basicDetailsGroup!">
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
          <div class="card">
            <div class="body">
              <div class="example-container">
                  <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-5">
                      <label>Aadhar Pic</label>
                      <!-- <app-file-upload formControlName="aadharPic"></app-file-upload> -->
                      <div class="file-drop-area">
                        <mat-icon>attach_file</mat-icon>
                        <span>{{fileAadhar ? fileAadhar.name : ' Select file' }}</span>
                        <input class="file-input" type="file" formControlName="aadharPic" (change)="onChangeAadhar($event)" />
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-5">
                      <label>Player Pic</label>
                      <!-- <app-file-upload formControlName="playerPic"></app-file-upload> -->
                      <div class="file-drop-area">
                        <mat-icon>attach_file</mat-icon>
                        <span>{{filePlayer ? filePlayer.name : ' Select file' }}</span>
                        <input class="file-input" type="file" formControlName="playerPic" (change)="onChangePlayer($event)" />
                      </div>
                    </div>
                  </div>
                <div class="row">
                  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-5">
                    <label>Payment Screenshot</label>
                    <!-- <app-file-upload formControlName="playerPic"></app-file-upload> -->
                    <div class="file-drop-area">
                      <mat-icon>attach_file</mat-icon>
                      <span>{{filePayment ? filePayment.name : ' Select file' }}</span>
                      <input class="file-input" type="file" formControlName="paymentPic" (change)="onChangePayment($event)" />
                    </div>
                  </div>
                </div>

                <mat-form-field class="example-full-width">
                  <mat-label>Payment Transaction ID</mat-label>
                  <input matInput formControlName="transactionId">
                  <mat-error *ngIf="basicDetailsGroup?.get('transactionId')?.hasError('required')">
                    Transaction ID is required
                  </mat-error>
                </mat-form-field>

              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
    <div class="row">
      <div class="col align-center">
        <div class="row clearfix">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
              <div class="body">
                <div *ngIf="currentProgress" class="progress my-3">
                  <mat-progress-bar mode="determinate" value="{{currentProgress}}"></mat-progress-bar>
                </div>

                <br>
                <button class="btn-space" [disabled]="!(basicDetailsGroup.valid)" mat-raised-button
                        (click)="confirmAdd()"
                        color="primary">Submit</button>
              </div>
            </div>
          </div>
        </div>


      </div>
    </div>


  </div>
